/* ESTILO NAV */
.custom-nav {
  background-color: #5F5E4A !important;
}

.custom-nav .nav-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #EFE7DD;
}

.custom-nav .nav-link.active {
  font-weight: 800;
  color: #DAABA3 !important;
}

.custom-nav .nav-link:hover {
  color: #B06F6B;
  text-decoration: underline;
}

#searchForm {
  display: none;
}

#searchForm.show {
  display: block;
}


/* ESTILO MAIN */
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
}


main h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  /* Roboto Black */
  font-size: 38px;
  color: #5F5E4A;
}

main h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  /* Roboto Black */
  font-size: 30px;
  color: #5F5E4A;
  
}

/* Atajos */
.card{
  min-width: 322px;
}


.shadowed-text {
  background-color: rgba(255, 255, 255, 0.6);
  color: #5f5e4a !important;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  padding: 0.5rem; /* Espaciado interno */
  border-radius: 5px;
  display: inline-block;
}


/*Destacados*/
.card{
  border: none !important;
  width: 18rem;
}

.card-body{
  font-family: 'Roboto', sans-serif;
  text-align: center !important;
}

.Prod-Name{
  font-weight: medium;
  font-size: 15px;
  color: #5F5E4A;
  text-transform: uppercase;
}

.precio{
  font-weight: bolder;
  font-size: 22px;
  color: #B06F6B;
}

.csi{
  font-weight: lighter;
  font-size: 13px;
  color: #5F5E4A;
}

.btn{
  background-color: #5F5E4A !important;
  font-weight: 600 !important;
  font-size: 18px;
  color: #EFE7DD;
  font-family: 'Roboto', sans-serif;
  text-align: center !important;
}





/* ESTILO FOOTER */
footer .nav-link {
  font-size: 100% !important;
  color: #6c757d;
}

footer h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #EFE7DD;
}

footer p {
  font-size: 0.75rem;
  color: #EFE7DD;
}

footer p a {
  font-size: 0.75rem;
  color: #EFE7DD;
}

footer .nav-link:hover {
  color: #B06F6B;
}

footer span {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #EFE7DD;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
 
}

@media (min-width: 992px) {
  .navbar-toggler{
    display: none;
  }

}

@media (max-width: 991px) {
  .form-control {
    display: none;
  }

  .collapse.show {
    display: block !important;
  }

  .navbar-toggler .navbar-toggler-icon{
    background-image: url(../assets/icons/menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

}