/* ESTILO NAV */
.custom-nav {
    background-color: #5F5E4A !important;
}

.custom-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #EFE7DD;
}

.custom-nav .nav-link.active {
    font-weight: 800;
    color: #DAABA3 !important;
}

.custom-nav .nav-link:hover {
    color: #B06F6B;
    text-decoration: underline;
}

#searchForm {
    display: none;
}

#searchForm.show {
    display: block;
}

.custom-line {
    border: none !important;
    border-bottom: 2px solid #ccc !important; 
    border-radius: 0 !important; 
    background-color: transparent !important; 
    box-shadow: none !important;
}

.custom-line:focus { 
    outline: none !important; 
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  
}

@media (max-width: 992px) {
    .form-control {
        display: none;
    }

    .collapse.show {
        display: block !important;
    }

    .navbar-toggler .navbar-toggler-icon{
        background-image: url(../assets/icons/menu.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    footer h5 {
        font-size: 16px;
    }

    footer ul li, footer small {
        font-size: 14px;
    }

    footer .social-icon {
        width: 20px; /* Reducir tamaño de los íconos de redes */
    }

    footer img {
        max-width: 100%; /* Métodos de pago mantienen tamaño original */
    }
    

}
